<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUoG3e4-e4FN6zTJ51Pt8w5idp2--Qs8M</string>
	<key>GCM_SENDER_ID</key>
	<string>352159932423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharepact.share</string>
	<key>PROJECT_ID</key>
	<string>sharepact-179d2</string>
	<key>STORAGE_BUCKET</key>
	<string>sharepact-179d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352159932423:ios:20b473b9e86ee8b6f94aa2</string>
</dict>
</plist>